.idea/
nbproject/
target/
*.iml
nb-*.xml

server/**/tmp
server/**/log
**/JBossAS5
**/jbpm.mail.templates.cfg.prod.xml
**/jbpm.mail.templates.cfg.staging.xml
server/**/data
server/**/work
server/**/deploy/lingonet2-mysql-ds.xml
server/**/deploy/lingonet2_authentication-mysql-ds.xml
server/**/deploy/messaging/mysql-persistence-service.xml
server/**/mysql-ds.xml
server/**/jbpm/jbpm-mysql-ds.xml
server/**/jbpm.cfg.xml
server/**/deploy/mail-service.xml

